{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Новости по тегу: #{{ tag }}</h1>
            </div>

            <div id="content">
                <div class="left_column">
                    <div id="next">
                        <h2>Статьи</h2>
                    </div>
                    <ul>
                        {% for post in pagination %}
                            <li>
                                <div>{{ post.description |raw}} </div>
                                <div>{{ post.createdAt |date('d/m/Y H:i') }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>

                <div class="right_column">
                    <div id="next">
                        <h2>Теги</h2>
                    </div>
                    <ul>
                        {% for tag in tags %}
                            <li>
                                <a href="/{{ tag.name }}">#{{ tag.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <a href="/">На главную</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    .left_column {width: 70%}
    .right_column {    width: 30%; padding-left: 40px;}
    #content {display: inline-flex}
    li {padding-bottom: 25px}

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
